{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header" style="background-image: url('{% static "images/dev4.jpg" %}');">
    <!--<h1>Bongo developers</h1> 
    <p>A website created by matt coding studio.</p> -->
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-0.5"></div>

        <div class="container col-sm-5">
            <h2>Bongo developers</h2>
            <p>bongodeveloper is a platform for software developers in Tanzania and the world in general</p>
            <p>has grown with a small number of programs in the country of Tanzania, Africa and the whole world due to the difficulty of the programming language and the lack of communication between the programs</p>
            <p>it is a good place to meet programmers from different places and to send examples of their work as well as to consult regarding the production of various projects</p>
            <p>due to constant changes in technology it is good to meet other programs for consulting and asking each other questions</p>
            <h2> What is a Web Developer? How to become a Web Developer</h2>
              <p> Let us begin the blog by understanding who a Web Developer is before reading about the numerous Web Developer roles and responsibilities. These professionals are a type of programmers who are mainly associated with the development of various distributed network applications or applications related to the World Wide Web (www). These applications run numerous protocols such as HTTP, and HTTPs from the webserver to the user browser using a number of programming languages such as Ruby, HTML/CSS, and PHP. Now, that you have got a basic idea of “What is Web Development?” and “Who are Web Developers?”, let’s learn more about what a web developer does.</p>
               <h2>What does a Web Developer do?</h2>
              <p> Web Developers have a combination of both technical and graphic designing skills that help them build specific designs on websites. The Web Developer’s job description requires these professionals to develop web pages that have a good user interface (UI) and are pleasing to look at, along with being secure and functional. They are responsible for developing these user-friendly sites that meet the demands and needs of customers or employers. They generally implement ideas that might not be theirs, but of others who lack the skills and knowledge of a functional web page.</p>
             <h2> Web Developer Job Description</h2>
              <p>Web Developers are responsible for planning and developing software solutions and web applications. These applications and solutions are used for maintaining a company’s websites and digital products that are being executed for different tasks or making a living optimized digitally.</p><br>
              <p>They usually need a combination of graphic design skills and technical computer skills. It allows the Web Developer, to create particular designs on web pages, using different web programming languages following the concepts of web development.</p><br>
              <p>If you are passionate about being a Web Developer, you must work on the various roles and responsibilities. As well, you must be eligible for the various requirements that the companies ask for.</p><br>
              <p>Every company has its own recruitment process for Web Developers, they may hire for the role of Front-end Web Developer, Back-end Web Developer, or Full-Stack Web Developer. So you must go through the various Web Developer skills including the major roles and duties of a Web Developer. You need to match the criteria and be an expert in what the company might need from you as a Web Developer.</p>
              <img src="{% static 'images/graph.png' %}" alt="" width="" height="">
              <h3><b>source X-Cart</b></h3>
        </div>
        <div class="container col-sm-3">
           <h2> Some of the roles and responsibilities of a Web Developer are the following:</h2>
            <p><b>i.</b>Create, design, and maintain all websites and software.</p><br>
            <p><b>ii.</b>Creating and editing website content.</p><br>
            <p><b>iii.</b>Develop solutions to problems or errors.</p><br>
            <p><b>iv.</b>This includes the user interface, browser compatibility, and general web standards and features.</p><br>
            <p><b>v.</b>Web applications are influenced by programming languages such as Script, HTML, CSS, JavaScript, and APIs.</p><br>
            <p><b>vi.</b>Communicate daily with colleagues, managers, and stakeholders.</p><br>
            <p><b>vii.</b>Develop and validate test procedures to ensure the quality of external and internal interfaces.</p><br>
            <h2>Build Your Career as a Web Developer</h2>
            <p>We are currently living in a digital age where most users reach out to companies for various services and products. For an organization to be among the top and attract as many customers as possible, it needs to offer good products and services.
                In addition, the company needs to have a user-friendly and easy-to-use website so that users revisit its web pages and request those services and products from it rather than reaching out to its competitors.
                Therefore, various MNCs and companies need Web Development professionals who can build their websites and meet the requirements of their users. This is why there is an abundant need for these professionals in the market today. In the coming future, the demand for these professionals will only grow as we move more toward digitization.</p>
        </div>

    </div>

</div>


      



{% endblock content %}