<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
{% if queryset.has_other_pages %}
<div class="pagination">
    <ul class="container">

        {% if queryset.has_previous %}
        <li><a href="?page={{queryset.previous_page_number}}" class="btn page-link"
                data-page="{{queryset.previous_page_number}}">&#10094; Prev</a></li>
        {% endif %}


        {% for page in custom_range %}

        {% if page == queryset.number%}
        <li><a href="?page={{page}}" class="btn page-link active" data-page="{{page}}">{{page}}</a></li>
        {% else %}
        <li><a href="?page={{page}}" class="btn page-link" data-page="{{page}}">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if queryset.has_next %}
        <li><a href="?page={{queryset.next_page_number}}" class="btn page-link"
                data-page="{{queryset.next_page_number}}">Next &#10095;</a></li>
        {% endif %}



    </ul>
</div>
{% endif %}
</body>